In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
# Importar datos
data = pd.read_csv("usuarios_win_mac_lin.csv")
data.head()

   duracion  paginas  acciones  valor  clase
0       7.0        2         4      8      2
1      21.0        2         6      6      2
2      57.0        2         4      4      2
3     101.0        3         6     12      2
4     109.0        2         6     12      2

In [83]:
print(data.head()) # primeros registros
print(data.describe()) # estadísticas básicas
print(data.isnull().sum()) # verificación de valores nulos
print(data['clase'].value_counts()) # conteo de clases

   duracion  paginas  acciones  valor  clase
0       7.0        2         4      8      2
1      21.0        2         6      6      2
2      57.0        2         4      4      2
3     101.0        3         6     12      2
4     109.0        2         6     12      2
         duracion     paginas    acciones       valor       clase
count  170.000000  170.000000  170.000000  170.000000  170.000000
mean   111.075729    2.041176    8.723529   32.676471    0.752941
std    202.453200    1.500911    9.136054   44.751993    0.841327
min      1.000000    1.000000    1.000000    1.000000    0.000000
25%     11.000000    1.000000    3.000000    8.000000    0.000000
50%     13.000000    2.000000    6.000000   20.000000    0.000000
75%    108.000000    2.000000   10.000000   36.000000    2.000000
max    898.000000    9.000000   63.000000  378.000000    2.000000
duracion    0
paginas     0
acciones    0
valor       0
clase       0
dtype: int64
0    86
2    44
1    40
Name: clase, dtype: int64

In [84]:
scaler = MinMaxScaler()
data_scaled = scaler.fit_transform(data.iloc[:, :-1])
data_scaled = pd.DataFrame(data_scaled, columns=data.columns[:-1])
data_scaled['clase'] = data['clase']

In [85]:
data_scaled['dur_pag'] = data_scaled['duracion'] / data_scaled['paginas']
data_scaled['val_acc'] = data_scaled['valor'] / data_scaled['acciones']

In [86]:
data_scaled.drop(['duracion', 'paginas', 'acciones', 'valor'], axis=1, inplace=True)

In [94]:
data_scaled = data_scaled[np.isfinite(data_scaled).all(1)]
X = data_scaled.drop('clase', axis=1)
y = data_scaled['clase']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=100)

In [95]:
clf = LogisticRegression(random_state=100)
clf.fit(X_train, y_train)

LogisticRegression(random_state=100)

In [96]:
y_pred = clf.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Precisión del modelo:", accuracy)

Precisión del modelo: 0.5